

<template>
    <div>
    </div>
</template>

<script>
import { reactive, onMounted, toRefs, nextTick } from 'vue'
import { useRouter } from 'vue-router'
// import swiper from '@/components/Swiper'
// import navBar from '@/components/NavBar'
import { getHome } from '@/service/home'
import { getLocal } from '@/common/js/utils'
import { Toast } from 'vant'
import { useStore } from 'vuex'
export default {
    name: 'home',
    components: {
        // swiper,
        // navBar
    },
    setup() {
        const store = useStore()
        const router = useRouter()
        const state = reactive({
            swiperList: [], // 轮播图列表
            isLogin: false, // 是否已登录
            headerScroll: false, // 滚动透明判断
            hots: [],
            newGoodses: [],
            recommends: [],

            loading: true
        })
        onMounted(async () => {
            const token = getLocal('token')
            if (token) {
                state.isLogin = true
                // 获取购物车数据.
                // store.dispatch('updateCart')
            }
            Toast.loading({
                message: '加载中...',
                forbidClick: true
            });
            const { data } = await getHome()
            state.swiperList = data.carousels
            state.newGoodses = data.newGoodses
            state.hots = data.hotGoodses
            state.recommends = data.recommendGoodses
            state.loading = false
            Toast.clear()
        })

        nextTick(() => {
            window.addEventListener('scroll', () => {
                let scrollTop = window.pageYOffset || document.documentElement.scrollTop || document.body.scrollTop
                scrollTop > 100 ? state.headerScroll = true : state.headerScroll = false
            })
        })

        const goToDetail = (item) => {
            router.push({ path: `/product/${item.goodsId}` })
        }

        const tips = () => {
            Toast('敬请期待');
        }

        return {
            ...toRefs(state),
            goToDetail,
            tips
        }
    },
}
</script>

<style lang="less" scoped >
@import "../common/style/mixin";
.home-header {
    position: fixed;
    left: 0;
    top: 0;
    .wh(100%, 50px);
    .fj();
    line-height: 50px;
    padding: 0 15px;
    .boxSizing();
    font-size: 15px;
    color: #fff;
    z-index: 10000;
    .nbmenu2 {
        color: @primary;
    }
    &.active {
        background: @primary;
        .nbmenu2 {
            color: #fff;
        }
        .login {
            color: #fff;
        }
    }

    .header-search {
        display: flex;
        .wh(74%, 20px);
        line-height: 20px;
        margin: 10px 0;
        padding: 5px 0;
        color: #232326;
        background: rgba(255, 255, 255, 0.7);
        border-radius: 20px;
        .app-name {
            padding: 0 10px;
            color: @primary;
            font-size: 20px;
            font-weight: bold;
            border-right: 1px solid #666;
        }
        .icon-search {
            padding: 0 10px;
            font-size: 17px;
        }
        .search-title {
            font-size: 12px;
            color: #666;
            line-height: 21px;
        }
    }
    .icon-iconyonghu {
        color: #fff;
        font-size: 22px;
    }
    .login {
        color: @primary;
        line-height: 52px;
        .van-icon-manager-o {
            font-size: 20px;
            vertical-align: -3px;
        }
    }
}
.category-list {
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom: 13px;
    div {
        display: flex;
        flex-direction: column;
        width: 20%;
        text-align: center;
        img {
            .wh(36px, 36px);
            margin: 13px auto 8px auto;
        }
    }
}
.good {
    .good-header {
        background: #f9f9f9;
        height: 50px;
        line-height: 50px;
        text-align: center;
        color: @primary;
        font-size: 16px;
        font-weight: 500;
    }
    .good-box {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        .good-item {
            box-sizing: border-box;
            width: 50%;
            border-bottom: 1px solid #e9e9e9;
            padding: 10px 10px;
            img {
                display: block;
                width: 120px;
                margin: 0 auto;
            }
            .good-desc {
                text-align: center;
                font-size: 14px;
                padding: 10px 0;
                .title {
                    color: #222333;
                }
                .price {
                    color: @primary;
                }
            }
            &:nth-child(2n + 1) {
                border-right: 1px solid #e9e9e9;
            }
        }
    }
}
.floor-list {
    width: 100%;
    padding-bottom: 50px;
    .floor-head {
        width: 100%;
        height: 40px;
        background: #f6f6f6;
    }
    .floor-content {
        display: flex;
        flex-shrink: 0;
        flex-wrap: wrap;
        width: 100%;
        .boxSizing();
        .floor-category {
            width: 50%;
            padding: 10px;
            border-right: 1px solid #dcdcdc;
            border-bottom: 1px solid #dcdcdc;
            .boxSizing();
            &:nth-child(2n) {
                border-right: none;
            }
            p {
                font-size: 17px;
                color: #333;
                &:nth-child(2) {
                    padding: 5px 0;
                    font-size: 13px;
                    color: @primary;
                }
            }
            .floor-products {
                .fj();
                width: 100%;
                img {
                    .wh(65px, 65px);
                }
            }
        }
    }
}
</style>