<template>
    <div :ref="idVal" :id="idVal" :style="{ height: height, width: width}" class="echart" />
</template>

<script>
import { onMounted, toRefs, watch, reactive, ref } from 'vue';
import * as echarts from 'echarts'
export default {
    props: {
        option: {
            type: Object,
            default: () => { }
        },
        width: {
            type: [String, Number],
            default: '100%'
        },
        height: {
            type: [String, Number],
            default: '100%'
        },
        idVal: {
            type: [String],
            default: ''
        },

    },
    setup(props) {
        console.log('echart', props.option)
        let chart = ref(null)
        const state = reactive({
            option: props.option,
            MyChart: '',
        })

        onMounted(() => {
            console.log(11, chart, state.option, props.idVal)
            setTimeout(() => {
                state.MyChart = echarts.init(document.getElementById(props.idVal))
                window.addEventListener('resize', () => state.MyChart.resize(), false)
                state.MyChart.setOption(state.option)

            }, 300)
        })

        watch(() => props.option, (n, o) => {
            console.log(34, n, o)
            state.option = n
            state.MyChart.setOption(state.option)
        })

        return {
            state,
            chart
        }

    },
    // data() {
    //     return {
    //         MyChart: ''
    //     }
    // },
    // watch: {
    //     option: {
    //         deep: true,
    //         handler() {
    //             // console.log("change")
    //             this.MyChart.setOption(this.option)
    //         }
    //     }
    // },
    // mounted() {
    //     this.$nextTick(() => {
    //         this.MyChart = echarts.init(this.$refs.chart)
    //         window.addEventListener('resize', () => this.MyChart.resize(), false)
    //         this.MyChart.setOption(this.option)
    //     })
    // },
    // beforeDestroy() {
    //     window.removeEventListener('resize', this.MyChart.resize(), false)
    //     this.MyChart.clear()
    // },
    // methods: {

    // }
}
</script>

<style lang="scss" scoped>
.echart {
    overflow: hidden;
}
</style>
