<template>
    <div class="page13">
        <div class="modal"></div>
        <div class="content">
            <div class="header">
                <!-- <div class="imgOut"> -->
                <div class="img" :style="{backgroundImage:'url('+state.userData.headerUrl+')'}"></div>
                <!-- </div> -->

                <div class="name">{{state.userData.username}}</div>
            </div>
            <div class="contBox">
                <!-- <div class="label">勤奋</div> -->
                <div class="list">
                    <div class="cell" v-for="(item,index) in state.codeList" :key="index">{{item.label}}</div>
                </div>
            </div>
            <div class="viewAgain" @click="$emit('viewAgain')">再看一遍</div>
        </div>

    </div>
</template>

<script>
import { onMounted, toRefs, watch, reactive } from 'vue';
export default {
    name: "page13",

    props: {
        fallin: {
            type: Number
        }
    },

    emits: ['viewAgain'],

    setup(props) {
        const state = reactive({
            fallin: props.fallin,

            codeTime: 0,
            userData: {
                headerUrl: 'https://i02piccdn.sogoucdn.com/b7b723b15d8f8203',
                username: '雷厉风行',
            },
            codeList: [
                { label: '啊舒服的方式发撒发撒发撒发撒上阿斯顿发啥发啥发发撒发撒发撒发阿斯顿发撒发撒发撒', subValue: '', index: 0, },
                { label: '啊舒服的方式发撒发撒发撒发撒上阿斯顿发啥发啥发发撒发撒发撒发阿斯顿发撒发撒发撒', subValue: '', index: 1, },
            ],

        })




        onMounted(async () => {

        })

        watch(() => props.fallin, (n, o) => {
            state.fallin = n;
            if (props.fallin === 9) {
                state.codeTime = 0;

            }
        })

        return {
            state,
        }

    },
};
</script>
<style lang="scss" src="./animation.scss"></style>
<style lang="scss" rel=”stylesheet/scss”>
.page13 {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    .modal {
        z-index: 1;
        filter: blur(6px);
        background-image: url("../../../assets/summary/page13/bg13.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
    .content {
        z-index: 2;
        position: absolute;
        left: 10%;
        right: 10%;
        top: 15%;
        bottom: 20%;
        padding-top: 5rem;
        border-radius: 1rem;

        background-image: url("../../../assets/summary/page13/modalbg.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        .header {
            position: absolute;
            top: -2.5rem;
            left: 0;
            right: 0;
            color: #fff;

            .img {
                position: absolute;
                width: 4.5rem;
                height: 4.5rem;
                left: calc(50% - 2.5rem);
                top: 0.25rem;
                border-radius: 100%;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                font-size: 0;
            }
            .img::before {
                content: "";
                position: absolute;
                left: -0.2rem;
                right: -0.2rem;
                top: -0.2rem;
                bottom: -0.2rem;
                border-radius: 100%;
                border: 1px solid #dcd2a2;
            }
            .name {
                position: absolute;
                top: 5rem;
                left: 0;
                right: 0;
                text-align: center;
                line-height: 2rem;
                font-size: 1.2rem;
                font-weight: 600;
            }
        }
        .contBox {
            padding: 1.5rem;
            background: #fff;
            border-radius: 1rem;
            position: absolute;
            left: 1rem;
            bottom: 1rem;
            right: 1rem;
            top: 5rem;
            .label {
                font-size: 3rem;
                text-align: center;
            }
            .list {
                .cell {
                    font-size: 1rem;
                    text-align: justify;
                    line-height: 1.5;
                    text-align: justify;
                    margin-top: 1rem;
                }
                .cell:first-child {
                    margin-top: 0;
                }
            }
        }
        .viewAgain {
            position: absolute;
            bottom: -5rem;
            border: 1px solid #fff;
            color: #fff;
            width: 8rem;
            height: 3rem;
            display: flex;
            align-items: center;
            justify-content: center;
            left: calc(50% - 4rem);
            font-weight: 1000;
            border-radius: 0.5rem;
            background-image: url("../../../assets/summary/page13/btn.png");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
    }
}
</style>


