<template>
    <div class="page4">

        <!-- 紫色星球 -->
        <img class="body4 an-star" src="../../../assets/summary/body4.png" alt="">
        <!-- 粉色星球 -->
        <img class="body3 an-star2" src="../../../assets/summary/body3.png" alt="">
        <!-- 粉色星球 -->
        <img class="moon moon1 an-moon1" src="../../../assets/summary/body2.png" alt="">
        <!-- 粉色星球 -->
        <img class="moon moon2 an-moon1" src="../../../assets/summary/body2.png" alt="">

        <img class="body1" src="../../../assets/summary/body1.png" alt="">

        <img class="icon icon1" src="../../../assets/summary/page4/s.png" alt="">
        <img class="icon icon2" src="../../../assets/summary/page4/star3.png" alt="">

        <img class="icon body1" src="../../../assets/summary/body1.png" alt="">

        <div class="codeList">
            <div class="code an-code1" v-for="(item,index) in state.codeList" :key="index" v-show="state.codeTime>index">
                {{item.label}}
                <span class="sub " v-if="state.codeTime>4">{{item.subValue}}</span>
                <img class="arrow" src="../../../assets/summary/arrow1.png" v-if="item.hadArrow===1" alt="">
                <img class="arrow" src="../../../assets/summary/arrow2.png" v-if="item.hadArrow===2" alt="">
            </div>

        </div>
        <div class="pie" v-if="state.codeTime>0">
            <echarts :option="state.option" height="20rem" width="100vw" idVal="chart4" />
        </div>

        <!-- 人 -->
        <!-- <div class="rocketBox an-top1"> -->
        <div class="rocketBox ">
            <img src="../../../assets/summary/page4/body.png" alt="" class="body">
            <img class="handL an-page4-1" src="../../../assets/summary/page4/handT.png" alt="">
            <img class="handR an-page4-2" src="../../../assets/summary/page4/handB.png" alt="">
            <img class="legL an-page4-3" src="../../../assets/summary/page4/legL.png" alt="">
            <img class="legR an-page4-3" src="../../../assets/summary/page4/legR.png" alt="">
        </div>

    </div>
</template>

<script>
import echarts from "@/components/echarts";
import { onMounted, toRefs, watch, reactive } from 'vue'
export default {
    name: "page4",
    props: {
        fallin: {
            type: Number,
        }
    },
    components: { echarts },
    setup(props) {
        const state = reactive({
            fallin: props.fallin,
            codeTime: 0,
            codeList: [
                { label: '2021年', subValue: '', index: 0, },
                { label: '你创造的财富', subValue: '523602', index: 1, },
                { label: '目前排名', subValue: '89', index: 2, },
                { label: '比去年的你进步了', subValue: '20%', index: 3, hadArrow: 1 },
                { label: '比预期增长下降了', subValue: '10%', index: 4, hadArrow: 2 },
            ],
            option: {
                title: {
                    left: 'center'
                },
                color: ['#F97856', '#EBBE3B'],
                series: [
                    {
                        name: 'Access From',
                        type: 'pie',
                        radius: '50%',
                        labelLine: {    //图形外文字线
                            normal: {
                                length: 35,
                                length2: 30
                            }
                        },
                        label: {
                            normal: {
                                formatter: '{c|{c}%} \n {b|{b}}',       //图形外文字上下显示
                                // formatter: function (item) {
                                //     console.log(33, item)
                                //     return `${item.percent}% \n ${item.data.name}`
                                // },
                                borderWidth: 20,
                                borderRadius: 20,
                                padding: [20, -40],          //文字和图的边距
                                rich: {
                                    b: {                        //name 文字样式
                                        fontSize: 15,
                                        lineHeight: 30,
                                        color: '#CDCDD0',
                                        align: "right"
                                    },
                                    c: {                   //value 文字样式
                                        fontSize: 15,
                                        lineHeight: 30,
                                        color: '#63BF6A',
                                        align: "right"
                                    }
                                }
                            }
                        },
                        data: [
                            { value: 65, name: '新顾客' },
                            { value: 35, name: '老顾客' },
                        ],
                        // emphasis: {
                        //     itemStyle: {
                        //         shadowBlur: 10,
                        //         shadowOffsetX: 0,
                        //         shadowColor: 'rgba(0, 0, 0, 0.5)'
                        //     }
                        // }
                    }
                ]
            },
        })

        const timeAdd = () => {
            let fun = () => {
                setTimeout(() => {
                    if (state.codeTime <= state.codeList.length) {
                        state.codeTime++
                        fun()
                    }
                }, 100)
            }
            fun()
        }


        onMounted(async () => {

            setTimeout(() => {
                timeAdd()
            }, 300)
        })
        watch(() => props.fallin, (n, o) => {
            console.log(22, props.fallin)
            state.fallin = n
            if (props.fallin === 4) {
                state.codeTime = 0;
                setTimeout(() => {
                    timeAdd()
                }, 300)
            }
        })

        return {
            state, timeAdd
        }

    },

};
</script>
<style lang="scss" src="./animation.scss"></style>
<style lang="scss" rel=”stylesheet/scss”>
.page4 {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    .codeList {
        position: absolute;
        top: 5%;
        left: 20%;

        .code {
            color: #ccc;
            opacity: 0.9;
            line-height: 1.5;
            font-size: 1.2rem;
            position: relative;
            font-family: "btxbt";
            font-weight: 1000;

            .sub {
                display: inline-block;
                color: #fce17c;
                font-size: 1.8rem;
                font-family: Helvetica, Arial, sans-serif;
            }
            .arrow {
                width: auto;
                height: 2rem;
            }
        }
    }
    .pie {
        position: absolute;
        top: 30%;
        left: 0;
        right: 0;
    }
    .rocketBox {
        position: absolute;
        bottom: 15%;
        right: 20%;
        width: 6rem;
        height: 10rem;
        z-index: 1;
        .body {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: auto;
            z-index: 1;
        }
        .handL {
            position: absolute;
            left: -39%;
            top: 34.5%;
            width: 93%;
            z-index: 1;
        }
        .handR {
            position: absolute;
            top: 58%;
            left: -24%;
            width: 61%;
            z-index: -1;
        }
        .legL {
            position: absolute;
            left: 15.2%;
            bottom: -45%;
            width: 75%;
            z-index: -1;
        }
        .legR {
            position: absolute;
            right: -22.8%;
            bottom: -43%;
            width: 75%;
            z-index: -1;
        }
    }

    .icon {
        position: absolute;
        left: 20%;
        height: auto;
        &.icon1 {
            left: 13%;
            width: 3rem;
            bottom: 20%;
        }
        &.icon2 {
            width: 3rem;
            left: 17%;
            bottom: 12%;
        }
        &.body1 {
            top: 40%;
            width: 3rem;
            height: auto;
            right: -1rem;
            left: auto;
        }
    }
}
</style>
