<template>
    <div class="page12">

        <img class="body4 an-star" src="../../../assets/summary/page10/fixed1.png" alt="">
        <img class="body3 an-star2" src="../../../assets/summary/page10/fixed2.png" alt="">

        <img class="body1" src="../../../assets/summary/body1.png" alt="">
        <img class="icon icon2" src="../../../assets/summary/body1.png" alt="">

        <img class="fixed4 an-star" src="../../../assets/summary/page10/fixed4.png" alt="">

        <div class="codeList">
            <div class="code an-code1" :class="{'family':index===0}" v-for="(item,index) in state.codeList" :key="index" v-show="state.codeTime>index">
                {{item.label}}
                <span class="sub " v-if="item.subValue">{{item.subValue}}</span>
                {{item.labelTwo}}
                <div class="headerBox" v-if="item.img">
                    <img src="../../../assets/summary/page10/header.png" alt="" class="header">
                    <img src="../../../assets/summary/page10/headIcon.gif" alt="" class="headIcon">
                </div>
            </div>
        </div>

    </div>
</template>

<script>
import { onMounted, toRefs, watch, reactive } from 'vue';
export default {
    name: "page12",
    props: {
        fallin: {
            type: Number
        }
    },
    setup(props) {
        const state = reactive({
            fallin: props.fallin,
            codeTime: 0,
            codeList: [
                { label: '今年公司正式开始', subValue: '', index: 0, },
                { label: '', subValue: '”钉钉转账啦“', index: 1, },
                { label: '感谢大家支持', subValue: '', index: 2, },
                { label: '你今年用钉钉转账三百次', subValue: '', index: 3, },
                { label: '', subValue: '4000', labelTwo: '元', index: 4, },
                { label: '其中大额交易', subValue: '4000', labelTwo: '元', index: 5, },
                { label: '小额交易', subValue: '2000', labelTwo: '元', index: 6, },
            ],
        })

        const timeAdd = () => {
            let fun = () => {
                setTimeout(() => {
                    if (state.codeTime <= state.codeList.length) {
                        state.codeTime++
                        fun()
                    }
                }, 100)
            }
            fun()

        }

        onMounted(async () => {
            setTimeout(() => {
                timeAdd();
            }, 300)
        })

        watch(() => props.fallin, (n, o) => {
            state.fallin = n;
            if (props.fallin === 12) {
                state.codeTime = 0;
                setTimeout(() => {
                    timeAdd()
                }, 300)
            }
        })

        return {
            state,
            timeAdd
        }
    },
};
</script>
<style lang="scss" src="./animation.scss"></style>
<style lang="scss" rel=”stylesheet/scss”>
.page12 {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    .body4 {
        width: 4rem !important;
        height: auto !important;
    }
    .body3 {
        width: 3rem !important;
        height: auto !important;
        bottom: 30%;
        top: auto;
    }
    .moon1 {
        width: 3rem !important;
        height: auto !important;
        top: 58% !important;
        right: 0 !important;
        left: auto !important;
    }
    .moon2 {
        width: 1rem !important;
        top: 30% !important;
        left: 15% !important;
    }
    .icon2 {
        width: 3rem;
        right: -1.6rem;
        top: 45%;
        position: absolute;
        height: auto;
    }

    .fixed4 {
        position: absolute;
        right: 3%;
        bottom: 7%;
        width: 3rem;
        height: auto;
        left: auto;
    }
    .codeList {
        position: absolute;
        top: 10%;
        left: 0;
        right: 0;
        text-align: center;

        .code {
            color: #ccc;
            opacity: 0.9;
            line-height: 2;
            font-size: 1.2rem;
            position: relative;
            font-weight: 1000;
            display: flex;
            align-items: center;
            justify-content: center;

            &.family {
                font-weight: 1000;
                font-family: "btxbt";
            }

            .sub {
                display: inline-block;
                color: #fce17c;
                font-size: 1.5rem;
                margin-left: 1rem;
                font-family: Helvetica, Arial, sans-serif;
                font-weight: 1000;
            }

            .headerBox {
                width: 6rem;
                height: 6rem;
                border: 1px solid #eee;
                border-radius: 50%;
                margin-top: 1.5rem;
                position: relative;
                .header {
                    width: 100%;
                    height: auto;
                    border-radius: 100%;
                }
                .headIcon {
                    width: 3rem;
                    height: auto;
                    position: absolute;
                    left: -0.6rem;
                    top: -1rem;
                    transform: rotate(-35deg);
                    z-index: -1;
                }
            }
        }
        .code:first-child {
            font-size: 1.4rem;
        }
    }
}
</style>
