<template>
    <div class="page2">

        <!-- 紫色星球 -->
        <img class="body4 an-star" src="../../../assets/summary/body4.png" alt="">
        <!-- 粉色星球 -->
        <img class="body3 an-star2" src="../../../assets/summary/body3.png" alt="">
        <!-- 粉色星球 -->
        <img class="moon moon1 an-moon1" src="../../../assets/summary/body2.png" alt="">
        <!-- 粉色星球 -->
        <img class="moon moon2 an-moon1" src="../../../assets/summary/body2.png" alt="">

        <img class="body1" src="../../../assets/summary/body1.png" alt="">

        <div class="codeList">
            <div class="code an-code1" v-for="(item,index) in state.codeList" :key="index" v-show="state.codeTime>index">
                {{item.label}}
                <span class="sub " v-if="state.codeTime>4">{{item.subValue}}</span>
                <img class="arrow" src="../../../assets/summary/arrow1.png" v-if="item.hadArrow===1" alt="">
                <img class="arrow" src="../../../assets/summary/arrow2.png" v-if="item.hadArrow===2" alt="">
            </div>

        </div>
        <!-- 火箭 -->
        <div class="rocketBox an-top1">
            <img src="../../../assets/summary/page2/body.png" alt="" class="body">
            <img class="hi" src="../../../assets/summary/page2/hi.png" alt="">
            <img class="hand an-hand1" src="../../../assets/summary/page2/hand.png" alt="">
            <!-- <img class="rocket" src="../../../assets/summary/rocket2.png" alt=""> -->
            <!-- <img class=" an-fire1 fire fire1" src="../../../assets/summary/fire.png" alt="">
            <img class=" an-fire1 fire fire2" src="../../../assets/summary/fire.png" alt="">
            <img class=" an-fire1 fire fire3" src="../../../assets/summary/fire.png" alt="">
            <img class=" an-fire1 fire fire4" src="../../../assets/summary/fire.png" alt=""> -->
        </div>
        <div class="earth"></div>

    </div>
</template>

<script>
import { reactive, onMounted, watch } from 'vue'
export default {
    name: "page2",
    props: {
        fallin: {
            type: Number,
        },
    },

    setup(props) {
        const state = reactive({
            fallin: props.fallin,
            codeTime: 0,
            codeList: [
                { label: '2021年', subValue: '', index: 0, },
                { label: '你的现金业绩一共', subValue: '523602', index: 1, },
                { label: '目前排名', subValue: '89', index: 2, },
                { label: '比去年的你进步了', subValue: '20%', index: 3, hadArrow: 1 },
                { label: '比预期增长下降了', subValue: '10%', index: 4, hadArrow: 2 },
            ],
        })

        const timeAdd = () => {
            let fun = () => {
                setTimeout(() => {
                    if (state.codeTime <= state.codeList.length) {
                        state.codeTime++
                        fun()
                    }
                }, 100)
            }
            fun()
        }

        onMounted(async () => {
            setTimeout(() => {
                state.codeTime = 0;
                timeAdd()
            }, 300)
        })

        watch(() => props.fallin, (n, o) => {
            state.fallin = n

            if (props.fallin === 2) {
                state.codeTime = 0;
                setTimeout(() => {
                    timeAdd()
                }, 300)
            }
        })
        return {
            state,
            timeAdd
        }
    },
 
};
</script>
<style lang="scss" src="./animation.scss"></style>
<style lang="scss" rel=”stylesheet/scss”>
.page2 {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    .codeList {
        position: absolute;
        top: 10%;
        left: 20%;

        .code {
            color: #ddd;
            opacity: 0.9;
            line-height: 1.5;
            font-size: 1.2rem;
            position: relative;
            font-family: "btxbt";
            font-weight: 1000;

            .sub {
                display: inline-block;
                color: #fce17c;
                font-size: 1.8rem;
                font-family: Helvetica, Arial, sans-serif;
            }
            .arrow {
                width: auto;
                height: 2rem;
            }
        }
    }
    .rocketBox {
        position: absolute;
        bottom: 14%;
        width: 12rem;
        margin-left: calc(50% - 6rem);
        height: 18rem;
        z-index: 1;
        .body {
            width: auto;
            height: 100%;
            z-index: 1;
        }
        .hand {
            position: absolute;
            right: 9.2%;
            top: 2%;
            width: 27%;
            z-index: -1;
        }
        .hi {
            position: absolute;
            left: -10%;
            top: -20%;
            width: 55%;
        }
    }
    .earth {
        background-image: url("../../../assets/summary/page2/earth.png");
        background-repeat: no-repeat;
        background-size: 100% auto;
        background-position: top center;
        width: 100%;
        height: 15%;
        position: absolute;
        bottom: 0;
    }
}
</style>
