<template>
    <div class="page11">

        <img class="fixed fixed1" src="../../../assets/summary/page11/fixed1.png" alt="">
        <img class="fixed fixed2 an-star2" src="../../../assets/summary/page11/fixed2.png" alt="">
        <img class="fixed fixed3 an-star2" src="../../../assets/summary/page11/fixed3.png" alt="">
        <img class="fixed fixed4 an-star2" src="../../../assets/summary/page11/fixed4.png" alt="">

        <img class="body1" src="../../../assets/summary/body1.png" alt="">
        <img class="icon icon2" src="../../../assets/summary/body1.png" alt="">

        <img class="moon moon1  an-moon1" src="../../../assets/summary/page10/fixed3.png" alt="">
        <img class="moon moon2 an-moon1" src="../../../assets/summary/page10/fixed3.png" alt="">

        <div class="codeList">
            <div class="code an-code1" v-for="(item,index) in state.codeList" :key="index" v-show="state.codeTime>index">
                {{item.label}}
                <span class="sub " v-if="item.subValue">{{item.subValue}}</span>
                {{item.labelTwo}}
                <div class="headerBox" :class="{'one':item.index===2,'two':item.index===3,'thr':item.index===4,}" v-if="item.img">
                    <div class="header"></div>
                    <div class="bg"></div>
                    <div class="name">昵称：{{item.name}}</div>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
import { onMounted, toRefs, watch, reactive } from 'vue';
export default {
    name: "page11",
    props: {
        fallin: {
            type: Number
        }
    },
    setup(props) {

        const state = reactive({
            fallin: props.fallin,
            codeTime: 0,
            codeList: [
                { label: '2021年', subValue: '', index: 0, },
                { label: '年度最支持你的', subValue: '顾客', index: 1, },
                { label: '', img: '../../../assets/summary/page9/header.png', index: 2, name: '雷厉风行1' },
                { label: '', img: '../../../assets/summary/page9/header.png', index: 3, name: '雷厉风行2' },
                { label: '', img: '../../../assets/summary/page9/header.png', index: 4, name: '雷厉风行3' },
                { label: '感谢每一位顾客的支持', subValue: '', index: 5, },
                { label: '新的一年你要更好的对待你的顾客', subValue: '', index: 6, },
            ],
        })

        const timeAdd = () => {
            let fun = () => {
                setTimeout(() => {
                    if (state.codeTime <= state.codeList.length) {
                        state.codeTime++
                        fun()
                    }
                }, 100)
            }
            fun()

        }

        onMounted(async () => {
            setTimeout(() => {
                timeAdd();
            }, 300)
        })

        watch(() => props.fallin, (n, o) => {
            state.fallin = n;
            if (props.fallin === 11) {
                state.codeTime = 0;
                setTimeout(() => {
                    timeAdd()
                }, 300)
            }
        })

        return {
            state,
            timeAdd
        }
    },

};
</script>
<style lang="scss" src="./animation.scss"></style>
<style lang="scss" rel=”stylesheet/scss”>
.page11 {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;

    .fixed {
        position: absolute;
        &.fixed1 {
            top: -4rem;
            right: -9rem;
            width: 24rem;
            height: auto;
            transform: rotate(-14deg);
        }
        &.fixed2 {
            top: 50%;
            left: 1rem;
            width: 3rem;
            height: auto;
        }
        &.fixed3 {
            left: 1rem;
            top: 1rem;
            width: 2rem;
            height: auto;
        }
        &.fixed4 {
            bottom: 20%;
            right: 1rem;
            width: 3rem;
            height: auto;
        }
    }
    .moon1 {
        width: 2.5rem !important;
        height: auto !important;
        top: 58% !important;
        right: 2rem !important;
        left: auto !important;
    }
    .moon2 {
        width: 1rem !important;
        top: 30% !important;
        left: 15% !important;
    }

    .icon2 {
        width: 3rem;
        right: -1.6rem;
        top: 45%;
        position: absolute;
        height: auto;
    }

    .codeList {
        position: absolute;
        top: 5%;
        left: 0;
        right: 0;
        text-align: center;

        .code {
            color: #ccc;
            opacity: 0.9;
            line-height: 2;
            font-size: 1.2rem;
            position: relative;
            font-weight: 1000;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 56%;
            margin-left: 22%;
            .sub {
                display: inline-block;
                color: #fce17c;
                font-size: 1.5rem;
                margin: 0 0.5rem;
            }
            .headerBox {
                width: 5rem;
                height: 7rem;
                padding-bottom: 2rem;

                margin-top: -3.5rem;
                position: relative;
                &.one {
                    margin-left: -62%;
                    margin-top: 0;
                }
                &.two {
                    margin-left: 70%;
                }
                &.thr {
                    margin-left: -40%;
                    margin-bottom: 0;
                }
                .header {
                    width: 100%;
                    height: auto;
                    border-radius: 100%;
                    border: 1px solid #eee;
                    border-radius: 50%;
                }
                .name {
                    position: absolute;
                    bottom: 2rem;
                    font-size: 1rem;
                    width: 12rem;
                    left: -3.5rem;
                    text-align: center;
                }
                .header {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 5rem;
                    height: 5rem;

                    background-image: url("../../../assets/summary/page10/header.png");
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: center;
                }
                .bg {
                    position: absolute;
                    top: -0.5rem;
                    left: -0.5rem;
                    width: 6rem;
                    height: 6rem;
                    background-image: url("../../../assets/summary/page11/headBg.png");
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                }
            }
        }
        .code:first-child {
            font-size: 1.4rem;
        }
    }

    .rocketBox {
        position: absolute;
        bottom: 20%;
        width: 5rem;
        height: 8rem;
        z-index: 1;

        &.person1 {
            right: calc(50% + 2.5rem);
        }
        &.person2 {
            left: calc(50% + 2.5rem);
        }
        .body {
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: auto;
            z-index: 1;
        }

        .handL {
            position: absolute;
            left: -42%;
            top: 45.5%;
            width: 62%;
            z-index: -1;
        }
        .handR {
            position: absolute;
            right: -60.8%;
            top: 45%;
            width: 69%;
            z-index: -1;
        }
        .legL {
            position: absolute;
            left: 7.2%;
            bottom: -97%;
            width: 65%;
            z-index: -1;
        }
        .legR {
            position: absolute;
            right: -24.8%;
            bottom: -96%;
            width: 67%;
            z-index: -2;
        }
    }
}
</style>
