<template>
    <div class="page3">

        <!-- 紫色星球 -->
        <img class="body4 an-star" src="../../../assets/summary/body4.png" alt="">
        <!-- 粉色星球 -->
        <img class="body3 an-star2" src="../../../assets/summary/body3.png" alt="">
        <!-- 粉色星球 -->
        <img class="moon moon1 an-moon1" src="../../../assets/summary/body2.png" alt="">
        <!-- 粉色星球 -->
        <img class="moon moon2 an-moon1" src="../../../assets/summary/body2.png" alt="">

        <img class="body1" src="../../../assets/summary/body1.png" alt="">

        <div class="codeList">
            <div class="code an-code1" v-for="(item,index) in state.codeList" :key="index" v-show="state.codeTime>index">
                {{item.label}}
                <span class="sub " v-if="state.codeTime>4">{{item.subValue}}</span>
                <img class="arrow" src="../../../assets/summary/arrow1.png" v-if="item.hadArrow===1" alt="">
                <img class="arrow" src="../../../assets/summary/arrow2.png" v-if="item.hadArrow===2" alt="">
            </div>

        </div>
        <!-- 人 -->
        <div class="rocketBox an-top1">
            <img src="../../../assets/summary/page3/body.png" alt="" class="body">
            <img class="handL an-page3-1" src="../../../assets/summary/page3/handL.png" alt="">
            <img class="handR an-page3-2" src="../../../assets/summary/page3/handR.png" alt="">
            <img class="legL an-page3-3" src="../../../assets/summary/page3/legL.png" alt="">
            <img class="legR an-page3-4" src="../../../assets/summary/page3/legR.png" alt="">
        </div>

    </div>
</template>

<script>
import { onMounted, toRefs, watch, reactive } from 'vue';
export default {
    name: "page3",
    props: {
        fallin: {
            type: Number
        }
    },
    setup(props) {
        const state = reactive({
            fallin: props.fallin,
            codeTime: 0,
            codeList: [
                { label: '2021年', subValue: '', index: 0, },
                { label: '你的消耗业绩一共', subValue: '523602', index: 1, },
                { label: '目前排名', subValue: '89', index: 2, },
                { label: '比去年的你进步了', subValue: '20%', index: 3, hadArrow: 1 },
                { label: '比预期增长下降了', subValue: '10%', index: 4, hadArrow: 2 },
            ],
        })

        const timeAdd = () => {
            let fun = () => {
                setTimeout(() => {
                    if (state.codeTime <= state.codeList.length) {
                        state.codeTime++
                        fun()
                    }
                }, 100)
            }
            fun()
        }

        onMounted(async () => {

            setTimeout(() => {
                timeAdd()
            }, 300)
        })

        watch(() => props.fallin, (n, o) => {
            state.fallin = n

            if (props.fallin === 3) {
                state.codeTime = 0;
                setTimeout(() => {
                    timeAdd()
                }, 300)
            }
        })

        return {
            state,
            timeAdd
        }

    },
   
};
</script>
<style lang="scss" src="./animation.scss"></style>
<style lang="scss" rel=”stylesheet/scss”>
.page3 {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    .codeList {
        position: absolute;
        top: 20%;
        left: 20%;

        .code {
            color: #ccc;
            opacity: 0.9;
            line-height: 1.5;
            font-size: 1.2rem;
            position: relative;
            font-family: "btxbt";
            font-weight: 1000;

            .sub {
                display: inline-block;
                color: #fce17c;
                font-size: 1.8rem;
                font-family: Helvetica, Arial, sans-serif;
            }
            .arrow {
                width: auto;
                height: 2rem;
            }
        }
    }
    .rocketBox {
        position: absolute;
        bottom: 20%;
        width: 12rem;
        height: 12rem;
        margin-left: calc(50% - 6rem);
        z-index: 1;
        .body {
            position: absolute;
            top: 0;
            left: 3rem;
            width: 6.28rem;
            height: auto;
            z-index: 1;
        }
        .handL {
            position: absolute;
            left: 5%;
            top: 27.5%;
            width: 33%;
            z-index: 1;
        }
        .handR {
            position: absolute;
            right: -12.8%;
            top: 28%;
            width: 46%;
            z-index: -1;
        }
        .legL {
            position: absolute;
            left: 2.2%;
            bottom: -27%;
            width: 45%;
            z-index: -1;
        }
        .legR {
            position: absolute;
            right: -7.8%;
            bottom: -12%;
            width: 37%;
            z-index: -1;
        }
    }
}
</style>
