<template>
    <div class="page6">

        <!-- 紫色星球 -->
        <img class="body4 an-star" src="../../../assets/summary/page6/fixed2.png" alt="">
        <!-- 粉色星球 -->
        <img class="body3 an-star2" src="../../../assets/summary/page6/fixed6.png" alt="">

        <img class="body1" src="../../../assets/summary/page6/fixed5.png" alt="">

        <img src="../../../assets/summary/page6/fixed4.png" alt="" class="fixed4">
        <img src="../../../assets/summary/page6/fixed3.png" alt="" class="fixed5  an-page6-2">

        <div class="codeList">
            <div class="code an-code1" v-for="(item,index) in state.codeList" :key="index" v-show="state.codeTime>index">
                {{item.label}}
                <span class="sub ">{{item.subValue}}</span>

            </div>

        </div>
        <!-- 火箭 -->
        <div class="rocketBox an-top1">
            <div class="msg">
                <div class="codeVal">哈喽大家好呀</div>
            </div>
            <img src="../../../assets/summary/page6/body.png" alt="" class="body">
            <img class=" handL an-page6-1" src="../../../assets/summary/page6/handL.png" alt="">
            <img class=" handR an-page6-2" src="../../../assets/summary/page6/handR.png" alt="">
        </div>
        <div class="earth"></div>

    </div>
</template>

<script>
import { onMounted, toRefs, watch, reactive } from 'vue';
export default {
    name: "page6",
    props: {
        fallin: {
            type: Number
        }
    },

    setup(props) {
        const state = reactive({
            fallin: props.fallin,
            codeTime: 0,
            codeList: [
                { label: '2021年', subValue: '', index: 0, },
                { label: '今年最早到公司时间', index: 1, },
                { label: '', subValue: '6:20', index: 2, },
            ],

        })

        const timeAdd = () => {
            let fun = () => {
                setTimeout(() => {
                    if (state.codeTime <= state.codeList.length) {
                        state.codeTime++
                        fun()
                    }
                }, 100)
            }
            fun()

        }

        onMounted(async () => {
            setTimeout(() => {
                timeAdd();
            }, 300)
        })

        watch(() => props.fallin, (n, o) => {
            state.fallin = n;
            if (props.fallin === 6) {
                state.codeTime = 0;
                setTimeout(() => {
                    timeAdd()
                }, 300)
            }
        })

        return {
            state,
            timeAdd
        }
    },



};
</script>
<style lang="scss" src="./animation.scss"></style>
<style lang="scss" rel=”stylesheet/scss”>
.page6 {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    .body4 {
        height: auto !important;
    }
    .body3 {
        top: 30% !important;
    }
    .body1 {
        top: 45% !important;
        left: 13% !important;
        width: 3rem !important;
    }
    .fixed4 {
        position: absolute;
        bottom: 4%;
        left: 12%;
        width: 4rem;
        height: auto;
        z-index: 2;
    }
    .fixed5 {
        position: absolute;
        bottom: 7%;
        right: 9%;
        width: 3.5rem;
        height: auto;
        z-index: 2;
    }
    .codeList {
        position: absolute;
        top: 10%;
        left: 20%;
        width: 60%;
        display: flex;
        align-items: center;
        flex-direction: column;

        .code {
            color: #ccc;
            opacity: 0.9;
            line-height: 2;
            font-size: 1.4rem;
            position: relative;
            font-family: "btxbt";
            font-weight: 1000;

            .sub {
                display: inline-block;
                color: #fce17c;
                font-size: 1.8rem;
                font-family: Helvetica, Arial, sans-serif;
            }
        }
    }
    .rocketBox {
        position: absolute;
        bottom: 12%;
        width: 12rem;
        margin-left: calc(50% - 6rem);
        height: 15rem;
        z-index: 1;
        .msg {
            position: absolute;
            top: -10%;
            right: -50%;
            -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
            width: 11rem;
            height: 6rem;
            background-image: url("../../../assets/summary/page6/fixed1.png");
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            .codeVal {
                position: absolute;
                left: 2rem;
                top: 1.9rem;
            }
        }
        .body {
            width: auto;
            height: 100%;
            z-index: 1;
        }
        .handL {
            position: absolute;
            left: -0.8%;
            top: 1%;
            width: 38%;
            z-index: -1;
        }
        .handR {
            position: absolute;
            right: 4%;
            top: 19.5%;
            width: 33%;
            z-index: -1;
        }
    }
    .earth {
        background-image: url("../../../assets/summary/page2/earth.png");
        background-repeat: no-repeat;
        background-size: 100% auto;
        background-position: top center;
        width: 100%;
        height: 15%;
        position: absolute;
        bottom: 0;
    }
}
</style>
