<template>
    <div class="page7">

        <!-- 紫色星球 -->
        <img class="body4 an-star" src="../../../assets/summary/page7/fixed2.png" alt="">
        <!-- 粉色星球 -->
        <img class="body3 an-star2" src="../../../assets/summary/page7/fixed1.png" alt="">

        <img class="fixed3 an-page7-3" src="../../../assets/summary/page7/spaFixed3.png" alt="">

        <div class="codeList">
            <div class="codeBox an-code1" v-for="(item,index) in state.codeList" :key="index" v-show="state.codeTime>index">
                {{item.label}}
                <div class="sub" v-if="item.subValue">
                    <div class="code">{{item.subValue}}</div>
                    <div class="bg1 an-page7-4"></div>
                    <div class="bg2 an-page7-4" :style="{'animationDelay':'1.5s'}"></div>
                </div>

            </div>

        </div>
        <div class="rocketBox an-top1">
            <img src="../../../assets/summary/page7/z.gif" alt="" class="z">
            <div class="msg">
                <!-- <div class="codeVal">辛苦啦</div> -->
            </div>
            <img src="../../../assets/summary/page7/body.png" alt="" class="body">
            <img class=" handL an-page7-1" src="../../../assets/summary/page7/handL.png" alt="">
            <img class=" handR an-page7-2" src="../../../assets/summary/page7/handR.png" alt="">
        </div>

    </div>
</template>

<script>
import { reactive } from '@vue/reactivity';
import { onMounted, watch } from '@vue/runtime-core';
export default {
    name: "page7",
    props: {
        fallin: {
            type: Number
        }
    },

    setup(props) {
        const state = reactive({
            fallin: props.fallin,
            codeTime: 0,
            codeList: [
                { label: '2021年', subValue: '', index: 0, },
                { label: '今年最晚打卡下班时间', index: 1, },
                { label: '', subValue: '22:20', index: 2, },
            ],
        })

        const timeAdd = () => {
            let fun = () => {
                setTimeout(() => {
                    if (state.codeTime <= state.codeList.length) {
                        state.codeTime++
                        fun()
                    }
                }, 100)
            }
            fun()

        }

        onMounted(() => {
            setTimeout(() => {
                timeAdd();
            }, 300)
        })

        watch(() => props.fallin, (n, o) => {
            state.fallin = n;
            if (props.fallin === 7) {
                state.codeTime = 0
                setTimeout(() => {
                    timeAdd();
                }, 300)
            }
        })

        return {
            state, timeAdd,
        }
    },


};
</script>
<style lang="scss" src="./animation.scss"></style>
<style lang="scss" rel=”stylesheet/scss”>
.page7 {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;

    .body4 {
        height: auto !important;
        width: 5rem !important;
        &.spa {
            width: 4rem !important;
        }
    }
    .body3 {
        top: 35% !important;
        &.spa {
            width: 2rem !important;
            height: auto !important;
        }
    }
    .fixed3 {
        position: absolute;
        width: 3.5rem;
        right: 21%;
        bottom: 15%;
        &.spa {
            width: 3.3rem;
            bottom: 9%;
            // transform: rotate(0);
        }
    }

    .codeList {
        position: absolute;
        top: 10%;
        left: 20%;
        width: 60%;
        display: flex;
        align-items: center;
        flex-direction: column;

        .codeBox {
            color: #ccc;
            opacity: 0.9;
            line-height: 2;
            font-size: 1.4rem;
            position: relative;
            height: 3rem;
            font-family: "btxbt";

            .sub {
                display: inline-block;
                color: #fce17c;
                font-size: 1.8rem;
                line-height: 1.5;
                background: #000;
                position: relative;
                overflow: hidden;
                width: 12rem;
                height: 3rem;
                font-family: Helvetica, Arial, sans-serif;

                .code {
                    z-index: 1;
                    color: #fce17c;
                    font-family: "btxbt";
                    font-weight: 1000;
                    font-size: 2rem;
                    display: flex;
                    align-items: center;
                    position: absolute;
                    align-items: center;
                    justify-content: center;
                    left: 0;
                    right: 0;
                    top: 0;
                    bottom: 0;
                }
                .bg1 {
                    z-index: 0;
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    background: #fff;
                    transform: translateX(-200%);
                }
                .bg1::before {
                    content: "";
                    position: absolute;
                    right: -3rem;
                    top: 0;
                    width: 0;
                    height: 0;
                    border-top: 3rem solid #fff;
                    border-right: 3rem solid transparent;
                }
                .bg1::after {
                    content: "";
                    position: absolute;
                    left: -3rem;
                    top: 0;
                    width: 0;
                    height: 0;
                    border-bottom: 3rem solid #fff;
                    border-left: 3rem solid transparent;
                }
                .bg2 {
                    z-index: 0;
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    background: #fff;
                    transform: translateX(-200%);
                }
                .bg2::before {
                    content: "";
                    position: absolute;
                    right: -3rem;
                    top: 0;
                    width: 0;
                    height: 0;
                    border-bottom: 3rem solid #fff;
                    border-right: 3rem solid transparent;
                }
                .bg2::after {
                    content: "";
                    position: absolute;
                    left: -3rem;
                    top: 0;
                    width: 0;
                    height: 0;
                    border-top: 3rem solid #fff;
                    border-left: 3rem solid transparent;
                }
            }
        }
    }

    .rocketBox {
        position: absolute;
        bottom: 7%;
        left: 10%;
        width: 12rem;
        height: 16rem;
        z-index: 1;
        .z {
            position: absolute;
            right: 3rem;
            top: -3.1rem;
            width: 2.5rem;
        }
        .msg {
            position: absolute;
            top: -10%;
            right: -80%;
            -webkit-transform: rotate(25deg);
            transform: rotate(25deg);
            width: 9rem;
            height: 6rem;
            line-height: 1.6;
            text-align: center;
            .codeVal {
                position: absolute;
                left: 2rem;
                top: 1.9rem;
                color: #ddd;
                opacity: 0.8;
                font-weight: 600;
            }
        }
        .body {
            width: auto;
            height: 100%;
            z-index: 1;
        }
        .handL {
            position: absolute;
            left: 2.5%;
            top: 20.3%;
            width: 20%;
            z-index: -1;
        }
        .handR {
            position: absolute;
            right: 28.5%;
            top: 19%;
            width: 20%;
            z-index: -1;
        }
    }
}
</style>
