<template>
    <div class="page1">
        {{state.fallin}}

        <!-- 紫色星球 -->
        <img class="body4 an-star" src="../../../assets/summary/body4.png" alt="">
        <!-- 粉色星球 -->
        <img class="body3 an-star2" src="../../../assets/summary/body3.png" alt="">
        <!-- 粉色星球 -->
        <img class="moon moon1 an-moon1" src="../../../assets/summary/body2.png" alt="">
        <!-- 粉色星球 -->
        <img class="moon moon2 an-moon1" src="../../../assets/summary/body2.png" alt="">

        <img class="body1" src="../../../assets/summary/body1.png" alt="">

        <div class="codeList">
            <div class="code an-code1" v-for="(item,index) in state.codeList" :key="index" v-show="state.codeTime>index">{{item.label}}
                <!-- <span class="sub " v-if="item.subValue">{{item.subValue}}</span> -->
            </div>
            <span class="year an-year1" v-if="state.codeTime>4">2021</span>
        </div>
        <!-- 火箭 -->
        <div class="rocketBox an-top1">
            <img src="../../../assets/summary/rocket2.png" alt="" class="body">
            <img class=" an-fire1 fire fire1" src="../../../assets/summary/fire.png" alt="">
            <img class=" an-fire1 fire fire2" src="../../../assets/summary/fire.png" alt="">
            <img class=" an-fire1 fire fire3" src="../../../assets/summary/fire.png" alt="">
            <img class=" an-fire1 fire fire4" src="../../../assets/summary/fire.png" alt="">
        </div>

        <div class="nameList">
            <div class=" name name1">火箭发射</div>
            <div class=" name name2">"准备好"</div>
            <div class=" name name3">即将前往
                <div class="sub">2021</div>
            </div>
            <div class="headBox" @click="$emit('firstClick')">
                <img src="../../../assets/summary/cap.png" alt="" class="head an-small2">
            </div>
            <div class=" name name4">点击启动</div>
        </div>

    </div>
</template>

<script>
import { reactive, onMounted, toRefs, nextTick, watch } from 'vue'
import { useRouter } from 'vue-router'
import { useStore } from "vuex"
export default {
    name: "page1",
    props: {
        fallin: {
            type: Number,
        },
    },
    emits: ['firstClick'],

    setup(props) {
        console.log(12, props, props.fallin)
        const store = useStore()
        const router = useRouter()
        const state = reactive({
            fallin: props.fallin,
            codeTime: 0,
            codeList: [
                { label: '假如时光倒流', index: 0, },
                { label: '你想对2021的自己说些什么', index: 1, },
                { label: '简单真实', index: 2, },
                { label: '乘坐时光穿梭机', index: 3, },
                { label: '探索你的', subValue: '2021', index: 4, },
            ],
        })

        const timeAdd = () => {
            let fun = () => {
                setTimeout(() => {
                    // console.log(44, state.codeTime, state.codeList)
                    if (state.codeTime <= state.codeList.length) {
                        state.codeTime++
                        fun()
                    }
                }, 100)
            }
            fun()

        }
        // const firstClick = () => {

        //     this.$emit('firstChick', true,)
        // }

        onMounted(async () => {
            setTimeout(() => {
                state.codeTime = 0;
                timeAdd()
            }, 300)

        })

        watch(() => props.fallin, (n, o) => {
            state.fallin = n


            if (props.fallin === 1) {
                state.codeTime = 0;
                setTimeout(() => {
                    timeAdd()
                }, 300)
            }
        })

        return {
            state,
            timeAdd,
            // firstClick
        }


    },
   
};
</script>
<style lang="scss" src="./animation.scss"></style>
<style lang="scss" rel=”stylesheet/scss”>
.page1 {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    .codeList {
        position: absolute;
        top: 2rem;
        left: 20%;

        .code {
            color: #ddd;
            opacity: 0.9;
            line-height: 2;
            font-size: 1.2rem;
            position: relative;
            // font-family: "btxbt";
            font-weight: 1000;

            .sub {
                display: inline-block;
                color: #fce17c;
                font-size: 1.5rem;
                margin-left: 1rem;
                font-family: Helvetica, Arial, sans-serif;
                font-weight: 1000;
            }
        }

        .year {
            position: fixed;
            top: 12rem;
            left: 40%;

            display: inline-block;
            color: #fce17c;
            font-size: 1.8rem;
        }
    }
    .rocketBox {
        position: absolute;
        bottom: 40%;
        width: 6.5rem;

        left: calc(50% - 3.25rem);
        height: 16rem;
        // background-image: url("../../../assets/summary/rocket2.png");
        // background-repeat: no-repeat;
        // background-size: 100% auto;
        // background-position: bottom center;
        z-index: 1;
        .body {
            width: 6.5rem;
            height: auto;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
        }
        .fire {
            position: absolute;
            bottom: 0;
            &.fire1 {
                width: 1.1rem;
                left: 0.7rem;
                top: calc(100% + 0.7rem);
            }
            &.fire2 {
                width: 0.7rem;
                top: calc(100% + 0.2rem);
                left: 2.1rem;
            }
            &.fire3 {
                width: 0.7rem;
                top: calc(100% + 0.2rem);
                right: 2.1rem;
            }
            &.fire4 {
                width: 1.1rem;
                right: 0.7rem;
                top: calc(100% + 0.7rem);
            }
        }
    }
    .nameList {
        position: absolute;
        bottom: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        color: #fff;
        font-weight: 600;
        .name {
            line-height: 1.6;
            font-size: 1.2rem;
        }
        .name1 {
        }
        .name2 {
            color: #fce17c;
        }
        .name3 {
            display: flex;
            justify-content: center;
            align-items: center;
            .sub {
                color: #fce17c;
                margin-left: 1rem;
                font-family: Helvetica, Arial, sans-serif;
            }
        }
        .name4 {
        }
        .headBox {
            height: 5rem;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            .head {
                width: 4rem;
            }
        }
    }
}
</style>
