<template>
    <div class="page8">

        <img class="body4 an-star" src="../../../assets/summary/page8/fixed1.png" alt="">
        <img class="body3 an-star2" src="../../../assets/summary/page8/fixed2.png" alt="">

        <img class="body1" src="../../../assets/summary/body1.png" alt="">

        <img class="icon body1" src="../../../assets/summary/body1.png" alt="">

        <div class="codeList">
            <div class="code an-code1" v-for="(item,index) in state.codeList" :key="index" v-show="state.codeTime>index">
                {{item.label}}
                <span class="sub ">{{item.subValue}}</span>
                {{item.labelTwo}}
                <img class="arrow" src="../../../assets/summary/arrow1.png" v-if="item.hadArrow===1" alt="">
                <img class="arrow" src="../../../assets/summary/arrow2.png" v-if="item.hadArrow===2" alt="">
                <div class="starBox" v-if="item.star">
                    <img v-for="(itemtwo,indextwo) in item.star" :key="indextwo" src="../../../assets/summary/page8/star.png" alt="" class="yellowStar an-page8-1">

                </div>
            </div>

        </div>

        <!-- 人 -->
        <div class="star4">
            <div class="rocketBox person1 an-top1 ">
                <img src="../../../assets/summary/page8/body1.png" alt="" class="body">
                <img class="handL an-page8-2" src="../../../assets/summary/page8/hand1L.png" alt="">
                <img class="handR an-page8-3" src="../../../assets/summary/page8/hand1R.png" alt="">
                <img class="legL an-page8-4" src="../../../assets/summary/page8/leg1L.png" alt="">
                <img class="legR an-page8-5" src="../../../assets/summary/page8/leg1R.png" alt="">
            </div>
            <div class="rocketBox person2 an-top1 ">
                <img src="../../../assets/summary/page8/body2.png" alt="" class="body">
                <img class="handL an-page8-2" src="../../../assets/summary/page8/hand2L.png" alt="">
                <img class="handR an-page8-3" src="../../../assets/summary/page8/hand2R.png" alt="">
                <img class="legL an-page8-4" src="../../../assets/summary/page8/leg2L.png" alt="">
                <img class="legR an-page8-5" src="../../../assets/summary/page8/leg2R.png" alt="">
            </div>
        </div>

    </div>
</template>

<script>
import { onMounted, toRefs, watch, reactive } from 'vue';
export default {
    name: "page8",
    props: {
        fallin: {
            type: Number
        }
    },
    setup(props) {

        const state = reactive({
            fallin: props.fallin,
            codeTime: 0,
            codeList: [
                { label: '2021年', subValue: '', index: 0, },
                { label: '您今年工作了', subValue: '300', labelTwo: '天', index: 1, },
                { label: '就差', subValue: '65', labelTwo: '天就大满贯啦', index: 2, },
                { label: '您的勤奋指数（总5星）', subValue: '', index: 3, },
                { label: '', star: 4, index: 4 },
                { label: '继续加油哦', index: 5, },
            ],
        })

        const timeAdd = () => {
            let fun = () => {
                setTimeout(() => {
                    if (state.codeTime <= state.codeList.length) {
                        state.codeTime++
                        fun()
                    }
                }, 100)
            }
            fun()

        }

        onMounted(async () => {
            setTimeout(() => {
                timeAdd();
            }, 300)
        })

        watch(() => props.fallin, (n, o) => {
            state.fallin = n;
            if (props.fallin === 8) {
                state.codeTime = 0;
                setTimeout(() => {
                    timeAdd()
                }, 300)
            }
        })

        return {
            state,
            timeAdd
        }
    },


};
</script>
<style lang="scss" src="./animation.scss"></style>
<style lang="scss" rel=”stylesheet/scss”>
.page8 {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    .body4 {
        width: 4rem !important;
        height: auto !important;
    }
    .body3 {
        width: 3rem !important;
        height: auto !important;
        top: 47% !important;
    }
    .codeList {
        position: absolute;
        top: 5%;
        left: 15%;

        .code {
            color: #ccc;
            opacity: 0.9;
            line-height: 1.5;
            font-size: 1.2rem;
            position: relative;
            font-family: "btxbt";
            font-weight: 1000;

            .sub {
                display: inline-block;
                color: #fce17c;
                font-size: 1.8rem;
                font-family: Helvetica, Arial, sans-serif;
            }
            .arrow {
                width: auto;
                height: 2rem;
            }
            .starBox {
                .yellowStar {
                    width: 3rem;
                    margin-right: 0.5rem;
                    height: auto;
                }
                .yellowStar:last-child {
                    margin-right: 0;
                }
            }
        }
    }

    .star4 {
        .rocketBox {
            position: absolute;
            bottom: 20%;
            width: 5.5rem;
            height: 10rem;
            z-index: 1;
            &.person1 {
                left: auto;
                z-index: 2;
                right: calc(21% + 9rem);
                bottom: 23%;
            }
            &.person2 {
                right: 21%;
                left: auto;
                bottom: 26%;
            }
            .body {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: auto;
                z-index: 1;
            }
            .handL {
                position: absolute;
                left: -58%;
                top: 17.5%;
                width: 79%;
                z-index: 1;
            }
            .handR {
                position: absolute;
                top: 46%;
                right: -41%;
                width: 62%;
                z-index: -1;
            }
            .legL {
                position: absolute;
                left: -15%;
                bottom: -91%;
                width: 63.5%;
                z-index: -1;
            }
            .legR {
                position: absolute;
                right: -85.8%;
                bottom: -66%;
                width: 136%;
                z-index: -1;
            }
        }
    }

    .star5 {
        .person3 {
            position: absolute;
            bottom: 5%;
            left: calc(50% - 5rem);
            width: 10rem;
            height: 15rem;
            z-index: 1;
            .body {
                width: 10rem;

                height: auto;
                position: absolute;
                bottom: 0;
            }
            .eye {
                position: absolute;
                bottom: 10.7rem;
                left: 4.17rem;
                width: 1.5rem;
                height: auto;
            }
            .coolBox {
                position: absolute;
                right: -6rem;
                top: -1rem;
                width: 5rem;
                height: 4rem;
                .one {
                    width: 5rem;
                    height: auto;
                    position: absolute;
                }
            }
        }
    }

    .icon {
        position: absolute;
        left: 20%;
        height: auto;

        &.icon1 {
            left: 13%;
            width: 3rem;
            bottom: 20%;
        }
        &.icon2 {
            width: 3rem;
            left: 17%;
            bottom: 12%;
        }
        &.body1 {
            top: 40%;
            width: 3rem;
            height: auto;
            right: -1rem;
            left: auto;
        }
    }
}
</style>
