<template>
    <div class="page10">

        <img class="body4 an-star" src="../../../assets/summary/page10/fixed1.png" alt="">
        <img class="body3 an-star2" src="../../../assets/summary/page10/fixed2.png" alt="">
        <img class="moon moon1  an-moon1" src="../../../assets/summary/page10/fixed3.png" alt="">
        <img class="moon moon2 an-moon1" src="../../../assets/summary/page10/fixed3.png" alt="">

        <img class="body1" src="../../../assets/summary/body1.png" alt="">
        <img class="icon icon2" src="../../../assets/summary/body1.png" alt="">

        <img class="fixed4 an-star" src="../../../assets/summary/page10/fixed4.png" alt="">

        <div class="codeList">
            <div class="code an-code1" v-for="(item,index) in state.codeList" :key="index" v-show="state.codeTime>index">
                {{item.label}}
                <span class="sub " v-if="item.subValue">{{item.subValue}}</span>
                {{item.labelTwo}}
                <div class="headerBox" v-if="item.img">
                    <img src="../../../assets/summary/page10/header.png" alt="" class="header">
                    <img src="../../../assets/summary/page10/headIcon.gif" alt="" class="headIcon">
                </div>
            </div>
        </div>

        <!-- 人 -->
        <div class="rocketBox an-top1 person1">
            <img src="../../../assets/summary/page10/body.png" alt="" class="body">
            <img class="handL an-page10-1" src="../../../assets/summary/page10/handL.png" alt="">
            <img class="handR an-page10-2" src="../../../assets/summary/page10/handR.png" alt="">
            <img class="legL an-page10-3" src="../../../assets/summary/page10/legL.png" alt="">
            <img class="legR an-page10-4" src="../../../assets/summary/page10/legR.png" alt="">
        </div>
        <div class="rocketBox an-top1-copy person2">
            <img src="../../../assets/summary/page10/body.png" alt="" class="body">
            <img class="handL an-page10-1" src="../../../assets/summary/page10/handL.png" alt="">
            <img class="handR an-page10-2" src="../../../assets/summary/page10/handR.png" alt="">
            <img class="legL an-page10-3" src="../../../assets/summary/page10/legL.png" alt="">
            <img class="legR an-page10-4" src="../../../assets/summary/page10/legR.png" alt="">
        </div>

    </div>
</template>

<script>
import { onMounted, toRefs, watch, reactive } from 'vue';
export default {
    name: "page10",
    props: {
        fallin: {
            type: Number
        }
    },
    setup(props) {
        const state = reactive({
            fallin: props.fallin,
            codeTime: 0,
            codeList: [
                { label: '2021年', subValue: '', labelTwo: '', img: '', index: 0, },
                { label: '你的年度', subValue: '最佳搭档', labelTwo: '', img: '', index: 1, },
                { label: '', subValue: '', labelTwo: '', img: '../../../assets/summary/page9/header.png', index: 2 },
                { label: '雷厉风行', subValue: '', labelTwo: '', img: '', index: 3, },
                { label: '你们一共合作了', subValue: '', labelTwo: '', img: '', index: 4, },
                { label: '', subValue: '56', labelTwo: '次', img: '', index: 5, },
            ],
        })
        const timeAdd = () => {
            let fun = () => {
                setTimeout(() => {
                    if (state.codeTime <= state.codeList.length) {
                        state.codeTime++
                        fun()
                    }
                }, 100)
            }
            fun()

        }

        onMounted(async () => {
            setTimeout(() => {
                timeAdd();
            }, 300)
        })

        watch(() => props.fallin, (n, o) => {
            state.fallin = n;
            if (props.fallin === 10) {
                state.codeTime = 0;
                setTimeout(() => {
                    timeAdd()
                }, 300)
            }
        })

        return {
            state,
            timeAdd
        }
    },
  
};
</script>
<style lang="scss" src="./animation.scss"></style>
<style lang="scss" rel=”stylesheet/scss”>
.page10 {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    .body4 {
        width: 4rem !important;
        height: auto !important;
    }
    .body3 {
        width: 3rem !important;
        height: auto !important;
        top: 45%;
    }
    .moon1 {
        width: 3rem !important;
        height: auto !important;
        top: 58% !important;
        right: 0 !important;
        left: auto !important;
    }
    .moon2 {
        width: 1rem !important;
        top: 30% !important;
        left: 15% !important;
    }
    .icon2 {
        width: 3rem;
        right: -1.6rem;
        top: 45%;
        position: absolute;
        height: auto;
    }

    .fixed4 {
        position: absolute;
        left: 5%;
        bottom: 1%;
        width: 3rem;
        height: auto;
    }
    .codeList {
        position: absolute;
        top: 10%;
        left: 0;
        right: 0;
        text-align: center;

        .code {
            color: #ccc;
            opacity: 0.9;
            line-height: 2;
            font-size: 1.2rem;
            position: relative;
            font-weight: 1000;
            display: flex;
            align-items: center;
            justify-content: center;
            .sub {
                display: inline-block;
                color: #fce17c;
                font-size: 1.5rem;
                margin: 0 0.5rem;
            }
            .headerBox {
                width: 6rem;
                height: 6rem;
                border: 1px solid #eee;
                border-radius: 50%;
                margin-top: 1.5rem;
                position: relative;
                .header {
                    width: 100%;
                    height: auto;
                    border-radius: 100%;
                }
                .headIcon {
                    width: 3rem;
                    height: auto;
                    position: absolute;
                    left: -0.6rem;
                    top: -1rem;
                    transform: rotate(-35deg);
                    z-index: -1;
                }
            }
        }
        .code:first-child {
            font-size: 1.4rem;
        }
    }

    .rocketBox {
        position: absolute;
        bottom: 20%;
        width: 5rem;
        height: 8rem;
        z-index: 1;

        &.person1 {
            right: calc(50% + 2.5rem);
        }
        &.person2 {
            left: calc(50% + 2.5rem);
        }
        .body {
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: auto;
            z-index: 1;
        }
        .handL {
            position: absolute;
            left: -42%;
            top: 45.5%;
            width: 62%;
            z-index: -1;
        }
        .handR {
            position: absolute;
            right: -60.8%;
            top: 45%;
            width: 69%;
            z-index: -1;
        }
        .legL {
            position: absolute;
            left: 7.2%;
            bottom: -97%;
            width: 65%;
            z-index: -1;
        }
        .legR {
            position: absolute;
            right: -24.8%;
            bottom: -96%;
            width: 67%;
            z-index: -2;
        }
    }
}
</style>
