<template>
    <div class="page9">

        <img class="body4 an-star" src="../../../assets/summary/page9/fixed1.png" alt="">
        <img class="body3 an-star2" src="../../../assets/summary/page9/fixed2.png" alt="">
        <img class="moon moon1 " src="../../../assets/summary/page9/fixed3.png" alt="">
        <!-- <img class="moon moon2 an-moon1" src="../../../assets/summary/page9/body2.png" alt=""> -->

        <img class="body1" src="../../../assets/summary/body1.png" alt="">
        <img class="icon icon2" src="../../../assets/summary/body1.png" alt="">

        <div class="codeList">
            <div class="code an-code1" v-for="(item,index) in state.codeList" :key="index" v-show="state.codeTime>index">
                {{item.label}}
                <span class="sub " v-if="item.subValue">{{item.subValue}}</span>
                <img class="arrow" src="../../../assets/summary/arrow1.png" v-if="item.hadArrow===1" alt="">
            </div>

        </div>
        <!-- 人 -->
        <div class="rocketBox an-top11">
            <img src="../../../assets/summary/page9/leg.png" alt="" class="leg">
            <img class="body an-page9-1" src="../../../assets/summary/page9/body.png" alt="">

            <div class="msg">
                <img src="../../../assets/summary/page9/fixed5.png" alt="" class="msgBg">
                正在寻找<br>您的<br>更多足迹...
            </div>
        </div>

    </div>
</template>

<script>
import { onMounted, toRefs, watch, reactive } from 'vue';
export default {
    name: "page9",
    props: {
        fallin: {
            type: Number
        }
    },
    setup(props) {
        const state = reactive({
            fallin: props.fallin,
            codeTime: 0,
            codeList: [
                { label: '公司生活圈', subValue: '', index: 0, },
                { label: '是一个让你表达真实心声的地方', subValue: '', index: 1, },
                { label: '第一次发帖', subValue: '2021年2月22日', index: 2, },

            ],

        })


        const timeAdd = () => {
            let fun = () => {
                setTimeout(() => {
                    if (state.codeTime <= state.codeList.length) {
                        state.codeTime++
                        fun()
                    }
                }, 100)
            }
            fun()

        }

        onMounted(async () => {
            setTimeout(() => {
                timeAdd();
            }, 300)
        })

        watch(() => props.fallin, (n, o) => {
            state.fallin = n;
            if (props.fallin === 9) {
                state.codeTime = 0;
                setTimeout(() => {
                    timeAdd()
                }, 300)
            }
        })

        return {
            state,
            timeAdd
        }

    },

};
</script>
<style lang="scss" src="./animation.scss"></style>
<style lang="scss" rel=”stylesheet/scss”>
.page9 {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    .body4 {
        width: 4rem !important;
        height: auto !important;
    }
    .body3 {
        width: 3rem !important;
        height: auto !important;
    }
    .moon1 {
        width: 3rem !important;
        height: auto !important;
        top: 58% !important;
        right: 0 !important;
        left: auto !important;
    }
    .icon2 {
        width: 3rem;
        right: -1.6rem;
        top: 45%;
        position: absolute;
        height: auto;
    }
    .codeList {
        position: absolute;
        top: 10%;
        left: 20%;
        text-align: center;

        .code {
            color: #ccc;
            opacity: 0.9;
            line-height: 2;
            font-size: 1.2rem;
            position: relative;
            font-weight: 1000;
            font-family: "btxbt";

            .sub {
                display: inline-block;
                color: #fce17c;
                font-size: 1.3rem;
                margin-left: 1rem;
                font-family: Helvetica, Arial, sans-serif;
            }
        }
        .code:first-child {
            font-size: 1.4rem;
        }
        .code:first-child::before {
            position: absolute;
            bottom: 0;
            content: "";
            width: 4rem;
            height: 0.2rem;
            background: #fff;
            border-radius: 0.1rem;
            left: calc(50% - 2rem);
        }
    }
    .rocketBox {
        position: absolute;
        bottom: 8%;
        width: 4.5rem;
        height: 6rem;
        margin-left: 20%;
        z-index: 1;
        .leg {
            position: absolute;
            width: 100%;
            height: auto;
        }
        .body {
            position: absolute;
            top: -6.4rem;
            left: 0.9rem;
            width: 7rem;
            height: auto;
            z-index: 1;
        }
        .msg {
            position: absolute;
            right: -16rem;
            top: -10rem;
            width: 8rem;
            height: 8rem;
            .msgBg {
                position: absolute;
                left: -2rem;
                top: -1.5rem;
                width: 9rem;
                height: 9rem;
                z-index: -1;
            }
        }
    }
}
</style>
