<template>
    <div class="page5">

        <img class="body4 an-star" src="../../../assets/summary/page5/fixed2.png" alt="">

        <div class="starBox">
            <img class="star an-star3" :style="{'animationDelay':index/3+'s'}" src="../../../assets/summary/page5/fixed1.png" v-for="(item,index) in 7" alt="">
        </div>

        <div class="codeList  an-code1">
            <div class="code " v-for="(item,index) in state.codeList" :key="index" v-show="state.codeTime>index">
                {{item.label}}
            </div>
        </div>
        <div class="pie" v-if="state.codeTime>0">
            <echarts :option="state.option" height="20rem" width="100vw" idVal="chart5" />
        </div>

        <!-- 人 -->
        <div class="rocketBox an-top1">
            <img src="../../../assets/summary/page5/body.png" alt="" class="body">
            <img class="handL an-page5-2" src="../../../assets/summary/page5/handL.png" alt="">
            <img class="handR  an-page5-3" src="../../../assets/summary/page5/handR.png" alt="">
            <img class="legL" src="../../../assets/summary/page5/legL.png" alt="">
            <img class="legR" src="../../../assets/summary/page5/legR.png" alt="">
        </div>

        <div class="rocketBox rocketBox2">
            <img class="one" src="../../../assets/summary/page5/fixed3.png" alt="">
            <img class="two an-page5-1" src="../../../assets/summary/page5/fixed31.png" alt="">

        </div>

    </div>
</template>

<script>
import echarts from "@/components/echarts";
import { onMounted, toRefs, watch, reactive } from 'vue'
export default {
    name: "page5",
    props: {
        fallin: {
            type: Number,
        }
    },
    components: { echarts },

    setup(props) {
        const state = reactive({
            fallin: props.fallin,
            codeTime: 0,
            codeList: [
                { label: '项目率分布', index: 0 },
            ],
            option: {
                title: {
                    left: 'center'
                },
                color: ['#6F9BFA', '#61D2AE', '#7081A6', '#E9B832', '#E77E68'],

                series: [
                    {
                        name: 'Access From',
                        type: 'pie',
                        radius: '50%',
                        labelLine: {    //图形外文字线
                            normal: {
                                length: 35,
                                length2: 30
                            }
                        },
                        label: {
                            normal: {
                                formatter: '{c|{c}%}\n{b|{b}}',       //图形外文字上下显示
                                // formatter: function (item) {
                                //     console.log(33, item)
                                //     return `${item.percent}% \n ${item.data.name}`
                                // },
                                borderWidth: 20,
                                borderRadius: 20,
                                padding: [20, -40],          //文字和图的边距
                                rich: {
                                    b: {                        //name 文字样式
                                        fontSize: 12,
                                        lineHeight: 30,
                                        color: '#CDCDD0',
                                        align: "right"
                                    },
                                    c: {                   //value 文字样式
                                        fontSize: 12,
                                        lineHeight: 30,
                                        color: '#63BF6A',
                                        align: "right"
                                    }
                                }
                            }
                        },
                        data: [
                            { value: 10, name: '第一项目' },
                            { value: 10, name: '第二项目' },
                            { value: 10, name: '第三项目' },
                            { value: 10, name: '第四项目' },
                            { value: 60, name: '第五项目' },
                        ],
                        // emphasis: {
                        //     itemStyle: {
                        //         shadowBlur: 10,
                        //         shadowOffsetX: 0,
                        //         shadowColor: 'rgba(0, 0, 0, 0.5)'
                        //     }
                        // }
                    }
                ]
            },

        })

        const timeAdd = () => {
            let fun = () => {
                setTimeout(() => {
                    if (state.codeTime <= state.codeList.length) {
                        state.codeTime++
                        fun()
                    }
                }, 100)
            }
            fun()
        }


        onMounted(async () => {

            setTimeout(() => {
                timeAdd()
            }, 300)
        })

        watch(() => props.fallin, (n, o) => {
            state.fallin = n
            if (props.fallin === 5) {
                state.codeTime = 0;
                setTimeout(() => {
                    timeAdd()
                }, 300)
            }
        })

        return {
            state,
            timeAdd
        }

    },


};
</script>
<style lang="scss" src="./animation.scss"></style>
<style lang="scss" rel=”stylesheet/scss”>
.page5 {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    .body4 {
        width: 6rem !important;
        height: auto !important;
    }

    .starBox {
        position: absolute;
        left: 2rem;
        top: 2rem;
        .star {
            position: absolute;
        }
        .star:nth-child(1) {
            left: 1rem;
            top: 0.5rem;
            width: 0.5rem;
        }
        .star:nth-child(2) {
            left: 2rem;
            top: 0;
            width: 0.8rem;
        }
        .star:nth-child(3) {
            left: 3.5rem;
            top: 0.7rem;
            width: 0.9rem;
        }
        .star:nth-child(4) {
            left: 0rem;
            top: 2rem;
            width: 1rem;
        }
        .star:nth-child(5) {
            left: 1rem;
            top: 3.5rem;
            width: 0.7rem;
        }
        .star:nth-child(6) {
            left: 3rem;
            top: 3rem;
            width: 1rem;
        }
        .star:nth-child(7) {
            left: 1.2rem;
            top: 1.3rem;
            width: 2rem;
        }
    }

    .codeList {
        position: absolute;
        top: 5%;
        left: 20%;
        width: 60%;
        text-align: center;

        .code {
            color: #ccc;
            opacity: 0.9;
            line-height: 1.5;
            font-size: 1.2rem;
            position: relative;
            font-family: "btxbt";
            font-weight: 1000;
        }
    }
    .pie {
        position: absolute;
        top: 15%;
        left: 0;
        right: 0;
    }
    .rocketBox {
        position: absolute;
        bottom: 20%;
        right: 20%;
        width: 7rem;
        height: 10rem;
        z-index: 1;
        .body {
            position: absolute;
            top: 0;
            left: 0rem;
            width: 6.28rem;
            height: auto;
            z-index: 1;
        }
        .handL {
            position: absolute;
            left: -67%;
            top: 19.5%;
            width: 88%;
            z-index: -1;
        }
        .handR {
            position: absolute;
            right: -37.8%;
            top: 19%;
            width: 94%;
            z-index: 1;
        }
        .legL {
            position: absolute;
            left: 43.2%;
            bottom: -26%;
            width: 70%;
            z-index: -1;
        }
        .legR {
            position: absolute;
            right: -33.8%;
            bottom: -9%;
            width: 66%;
            z-index: -1;
        }
    }

    .rocketBox2 {
        bottom: 6%;
        left: 20%;
        width: 5rem;
        height: 10rem;
        z-index: 1;

        .one {
            position: absolute;
            bottom: 0;
            width: 100%;
        }
        .two {
            position: absolute;
            left: 50%;
            margin-left: -0.35rem;
            bottom: 48%;
            width: 0.7rem;
        }
    }

    .icon {
        position: absolute;
        left: 20%;
        height: auto;
        &.icon1 {
            left: 13%;
            width: 3rem;
            bottom: 25%;
        }
        &.icon2 {
            width: 3rem;
            left: 17%;
            bottom: 17%;
        }
    }
}
</style>
