<template>
    <div class="page_summary_index">
        <div class="media" :class="{'on':playing}" @click="toggleAudio()"></div>
        <img src="../../assets/summary/music1.png" @click="toggleAudio()" :style="{'animationPlayState':playing?'running':'paused'}" alt="" class="media an-music-totate">

        <audio ref="myAudio" id="myAudio" class="myAudio">
            <source id="music" src='../../assets/summary/clearDay.mp3' type="audio/mp3">
            您的浏览器不支持 audio 元素。
        </audio>

        <!-- 星空背景 -->
        <div class="bgDot"> </div>

        <!-- 流星雨 -->
        <div class="meteorBox" v-if="showMeteor">
            <img src="../../assets/summary/meteor.png" v-for="(item,index) in meteorList" :key="index" :style="{left:item.left,top:item.top,width:item.size==='big'?'6rem':'3rem',height:item.size==='big'?'4.5rem':'2.25rem','animationDelay':index/10+'s'}" alt="" class="meteor an-meteor1">
        </div>

        <!-- <div class="meteor2"></div> -->

        <!-- 黄色小星星 -->
        <div class="star1Box">
            <img class="star1" :class="{'an-left1':item.direction==='left','an-right1':item.direction==='right'}" v-for="(item,index) in starList1" :key="index" src="../../assets/summary/star2.png" :style="{left:item.left,top:item.top,width:item.size==='big'?'1.5rem':'0.8rem'}" alt="">
        </div>

        <!-- 白色小星星 -->
        <div class="star2Box">
            <img class="star2" :class="{'an-big1':item.direction==='left','an-small1':item.direction==='right'}" v-for="(item,index) in starList2" :key="index" src="../../assets/summary/star1.png" :style="{left:item.left,top:item.top,width:item.size==='big'?'2rem':'1rem'}" alt="">
        </div>

        <img src="../../assets/summary/arrowTop.png" v-if="active>1" alt="" class="arrowTop a-fadeoutT">

        <!-- <page-1 class="page page1" ref="page1"  :class="{'an-fallout':active!==1,'an-fallin':fallin===1}" v-if="fallin===1" /> -->
        <!-- @click.native="swipeup" -->
        <page-1 class="page page1" :fallin="fallin" ref="page1" :class="{'an-fallout':active!==1,'an-fallin':fallin===1}" v-show="fallin===1" @firstClick="firstClick" />

        <page-2 class="page page2" :fallin="fallin" ref="page2" v-touch:swipeup.native="swipeup" v-touch:swipedown.native="swipedown" :class="{'an-fallout':active!==2,'an-fallin':fallin===2}" v-show="fallin===2" />

        <page-3 class="page page3" :fallin="fallin" ref="page3" v-touch:swipeup.native="swipeup" v-touch:swipedown.native="swipedown" :class="{'an-fallout':active!==3,'an-fallin':fallin===3}" v-show="fallin===3" />

        <page-4 class="page page4" :fallin="fallin" ref="page4" v-touch:swipeup.native="swipeup" v-touch:swipedown.native="swipedown" :class="{'an-fallout':active!==4,'an-fallin':fallin===4}" v-show="fallin===4" />

        <page-5 class="page page5" :fallin="fallin" ref="page5" v-touch:swipeup.native="swipeup" v-touch:swipedown.native="swipedown" :class="{'an-fallout':active!==5,'an-fallin':fallin===5}" v-show="fallin===5" />
        <page-6 class="page page6" :fallin="fallin" ref="page6" v-touch:swipeup.native="swipeup" v-touch:swipedown.native="swipedown" :class="{'an-fallout':active!==6,'an-fallin':fallin===6}" v-show="fallin===6" />

        <page-7 class="page page7" :fallin="fallin" ref="page7" v-touch:swipeup.native="swipeup" v-touch:swipedown.native="swipedown" :class="{'an-fallout':active!==7,'an-fallin':fallin===7}" v-show="fallin===7" />

        <page-8 class="page page8" :fallin="fallin" ref="page8" v-touch:swipeup.native="swipeup" v-touch:swipedown.native="swipedown" :class="{'an-fallout':active!==8,'an-fallin':fallin===8}" v-show="fallin===8" />

        <page-9 class="page page9" :fallin="fallin" ref="page9" v-touch:swipeup.native="swipeup" v-touch:swipedown.native="swipedown" :class="{'an-fallout':active!==9,'an-fallin':fallin===9}" v-show="fallin===9" />

        <page-10 class="page page10" :fallin="fallin" ref="page10" v-touch:swipeup.native="swipeup" v-touch:swipedown.native="swipedown" :class="{'an-fallout':active!==10,'an-fallin':fallin===10}" v-show="fallin===10" />

        <page-11 class="page page11" :fallin="fallin" ref="page11" v-touch:swipeup.native="swipeup" v-touch:swipedown.native="swipedown" :class="{'an-fallout':active!==11,'an-fallin':fallin===11}" v-show="fallin===11" />

        <page-12 class="page page12" :fallin="fallin" ref="page12" v-touch:swipeup.native="swipeup" v-touch:swipedown.native="swipedown" :class="{'an-fallout':active!==12,'an-fallin':fallin===12}" v-show="fallin===12" />

        <page-13 class="page page13" :fallin="fallin" ref="page13" v-touch:swipeup.native="swipeup" v-touch:swipedown.native="swipedown" :class="{'an-fallout':active!==13,'an-fallin':fallin===13}" v-show="fallin===13" @viewAgain="viewAgain" />

    </div>
</template>

<script>
import page1 from './component/page1.vue' //第1页动画
import page2 from './component/page2.vue' //第2页动画
import page3 from './component/page3.vue' //第3页动画
import page4 from './component/page4.vue' //第4页动画
import page5 from './component/page5.vue' //第5页动画
import page6 from './component/page6.vue' //第6页动画
import page7 from './component/page7.vue' //第7页动画
import page8 from './component/page8.vue' //第8页动画
import page9 from './component/page9.vue' //第9页动画
import page10 from './component/page10.vue' //第10页动画
import page11 from './component/page11.vue' //第11页动画
import page12 from './component/page12.vue' //第12页动画
import page13 from './component/page13.vue' //第13页动画


import { reactive, onMounted, toRefs, nextTick, createApp, ref } from 'vue'
import { useRouter } from 'vue-router'
import { useStore } from "vuex"




// import Vue from 'vue';
import touchEvent from "./component/touchEvent.js";  //touch指令
// directives(directive);
// touchEvent
// app.directive(touchEvent, () => {
//     console.log(44)
// })

export default {
    name: "Summary",


    components: { page1, page2, page3, page4, page5, page6, page7, page8, page9, page10, page11, page12, page13 },
    setup() {

        const store = useStore()
        const router = useRouter()
        const state = reactive({
            showMeteor: false,
            playing: false,
            audioCount: 0,
            myAudio: ref(null),
            isShow: false,
            active: 1,  // 一秒钟的动画变量
            fallin: 1,  // 当前页的索引
            starList2: [],

            starList1: [],

            meteorList: [],




        })
        const getMeteorList = () => {

            state.meteorList = [];
            for (let i = 0; i < 10; i++) {
                state.meteorList.push({
                    left: parseInt(50 + Math.random() * 50) + '%',
                    top: parseInt(0 + Math.random() * 80) + '%',
                    size: Math.random() > 0.5 ? 'big' : 'small',
                })
            }
            // console.log(11, state.meteorList)
            setTimeout(() => {
                getMeteorList();
            }, 4000)


        }

        const getStarList1 = () => {
            state.starList1 = [];
            for (let i = 0; i < 10; i++) {
                state.starList1.push({
                    left: parseInt(Math.random() * 95) + '%',
                    top: parseInt(Math.random() * 95) + '%',
                    direction: Math.random() > 0.5 ? 'left' : 'right',
                    size: Math.random() > 0.5 ? 'big' : 'small',
                })
            }
            // console.log(11, starList1)
            setTimeout(() => {
                getStarList1();
            }, 12000)
        }
        const getStarList2 = () => {
            state.starList2 = [];
            for (let i = 0; i < 10; i++) {
                state.starList2.push({
                    left: parseInt(Math.random() * 95) + '%',
                    top: parseInt(Math.random() * 95) + '%',
                    direction: Math.random() > 0.5 ? 'left' : 'right',
                    size: Math.random() > 0.5 ? 'big' : 'small',
                })
            }
            // console.log(11, state.starList2)
            setTimeout(() => {
                getStarList2();
            }, 12000)
        }
        const swipedown = () => {
            if (state.active === 1) return
            state.active--

            setTimeout(() => {
                state.fallin--
            }, 1000)
        }

        const swipeup = () => {
            if (state.active >= 13) return
            state.active++;
            setTimeout(() => {
                state.fallin++;
            }, 1000)
        }

        const firstClick = () => {
            console.log('first')
            swipeup()
            if (state.audioCount > 0) return;
            state.audioCount++

            var music = document.getElementById('myAudio');
            music.play()
            state.playing = true;

        }

        const viewAgain = () => {
            state.active = 1;
            setTimeout(() => {
                state.fallin = 1;
            }, 1000)
        }

        const toggleAudio = () => {
            var music = document.getElementById('myAudio');
            console.log(55, music, music.duration, music.ended, music.paused)

            // paused  是否暂停 返回true/false
            if (music.paused) {
                state.playing = true;
                music.play()
            } else {
                state.playing = false;
                music.pause();

            }

        }

        onMounted(async () => {
            getStarList1()
            getStarList2()
            getMeteorList();



            setTimeout(() => {

                // firstClick()
                // state.isShow = true;

                // var music = document.getElementById('myAudio');
                // console.log(22, document.getElementById('myAudio'))
                // music.play();
                // state.myAudio.load();
                // music.play()
                // state.myAudio.autoplay;
            }, 2000)
            setTimeout(() => {
                state.showMeteor = true;
            }, 1000)
        })

        return {
            ...toRefs(state),
            swipeup,
            swipedown,
            firstClick,
            toggleAudio,
            viewAgain
        }

    },



};
</script>
<style lang="scss" src="./component/animation.scss"></style>
<style lang="scss" rel=”stylesheet/scss”>
.page_summary_index {
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;
    font-size: 1.1rem;
    background-color: #fff;
    $transition: all 0.5s ease;
    $lineheight: 4rem;
    $a: 400;
    $width: 7rem;
    background-image: url("../../assets/summary/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;

    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    perspective: 1000;

    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);

    .media {
        width: 2rem;
        height: 2rem;
        position: fixed;
        right: 1rem;
        top: 1rem;
        // background: red;
        z-index: 10;
        border-radius: 100%;
        &.on {
        }
    }

    .myAudio {
        position: absolute;
        z-index: 10;
    }

    .bgDot {
        position: absolute;
        right: 0;
        top: 0;
        left: 0;
        bottom: 0;
        // background-image: url("../../assets/summary/bgdot.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .meteor {
        position: absolute;
        // height: auto;
        // width: ;
        // &.big {
        // }
        // &.size {
        // }
    }
    .meteor2 {
        position: absolute;
        left: -2rem;
        bottom: 10%;
        background-image: url("../../assets/summary/meteor.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 8rem;
        height: 8rem;
    }

    .star1 {
        position: absolute;
        &.small {
        }
        &.big {
        }
    }

    .star2 {
        position: absolute;
        &.small {
            width: 1rem;
        }
        &.big {
            width: 2rem;
        }
    }
    .arrowTop {
        position: fixed;
        width: 1.2rem;
        height: 1.2rem;
        bottom: 5%;
        left: calc(50% - 0.6rem);
        z-index: 10;
    }

    .page {
        display: none;
        position: absolute;
        &.an-fallin {
            display: block;
        }

        .body4 {
            position: absolute;
            right: 2rem;
            top: 2rem;
            width: 4rem;
            height: auto;
        }
        .body3 {
            position: absolute;
            top: 35%;
            left: 1rem;
            width: 4rem;
            height: auto;
        }
        .moon {
            position: absolute;
            &.moon1 {
                width: 1rem;
                top: 30%;
                left: 15%;
            }
            &.moon2 {
                width: 2rem;
                bottom: 40%;
                right: 7%;
            }
        }
        .body1 {
            position: absolute;
            top: 15%;
            width: 4rem;
            height: auto;
            left: -1.5rem;
        }
    }
}
</style>
